/* general  */
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #161824;
    color: white;
    
}
a{
    color: white;
    text-decoration: none;
}
.flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
h2{
    padding: 10px ;
    font-size: 1.3rem;
}

h4{
    color: #717171;
}
.padding{
    padding-left: 10px;
}
.color-white{
    color: white;
}
.color-grey{
    color: #717171;
}
a:hover{
    color: white;
}
.color-black{
    color: #000000;
}
.float-left{
    float: left;
}
/* /general  */
/* header  */
header{
    background-color:rgba(0,0,0,0.3);
    height: 90px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    
}
nav{
    height: 90px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}
.top{
    width: 250px;
    height: 40px;
    border:1px solid white;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    
    
}
.top:hover{
    font-size: 1.3em;
    width: 270px;
    height: 50px;
    text-align: center;
}
/* /header  */
/* aside  */
aside{
    width: 230px;
    height: 100vh;
    background-color: #000000;
    overflow-y: hidden;
    position: fixed;
    
}
aside div img{
    padding: 12px;
}
/* 1 section  */
.icon{
    width: 40px;
    height: 30px;
    padding: 10px;
    filter: invert(42%);
}
div.icon-text:hover{
    color: white;
}
.icon-text{
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    color: #717171;
}

/* /1section  */
/* 2section */
.section2{
    padding-top: 10px;
    position: relative;
}
section.section2 h2{
    padding: 5px;
}
.plus{
   width: 30px;
   height: 30px;
   padding: 7px;
   margin-left: 5px;
   background-color: #717171;
   margin-right: 10px;
   color: black;
}
.plus:hover{
    background-color: white;
}
.align{
    width: 100%;
    line-height: 40px;
    display: inline-block;
    color: #717171;
}
section.section2 ul li a{
    padding: 5px;
    color: #717171;
}
section.section2 ul li a:hover{
    color: white;
}
/* /2 scetion  */
/* 3 section  */
.installa{
    background-color: #000000;
    padding: 5px;
    
}
.installa div a{
    position: absolute;
    bottom: 140px;
    left: 40px;
    color: #717171;
}
.installa div a:hover{
    color: white;
}
.icon-download svg{
    width: 20px;
    height: 20px;
    filter: invert(42%);
    position: absolute;
    bottom: 140px;
    left: 10px;
}
hr{
    width: 200px;
    border:1px solid#717171 ;
    position: absolute;
    bottom: 130px;
    left: 10px;
}
.profile-icon svg{
    width: 20px;
    height: 20px;
    background-color:#717171 ;
    border-radius: 50%;
    overflow-y: hidden;
    position: absolute;
    bottom: 100px;
    left: 10px;

}
.name-profile{
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-weight: bolder;
    
}

/* /aside  */
/* main section 1  */


ul{
    list-style: none;
}
.ul-flex{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 15px;
    font-size: 0.6rem;
    
}
.ul-flex li a{
    color: #717171;
}
.ul-flex li a:hover{
    color: white;
}
/* container  */
.container{
    position: absolute;
    left: 230px;
    top: 100px;
    bottom: 90px;
    overflow-y: auto;
}
.img-music {
    text-align: center;
    width: calc(100% / 6);
    padding: 30px;
    font-size: 0.6rem;
    
}
.img-music img{
    width: 100%;
}
.box{
width: 100%;
position: relative;
}
/* main hover  */
.block{
    position: absolute;
    left:0;
    top: 30%;
    width: 100%;
    font-size: 3vw;
    display: none;
    color: rgba(255,255,255, 0.8);
}
.box:hover i{
    display: block;
    
}
/* main section 2 */
.bottom-margin{
   height: 50vh;
}


/* footer */
footer{
    height: 90px;
    width: 100%;
    background-color: #282729;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* left  */
.square-left{
    width:20%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;  
}
.play-song :first-child {
    font-size: 1rem;
    color: white;
}
.play-song :last-child {
    font-size: 1rem;
    color: #717171;
}

div.square-left img{
    height: 70%;
    object-fit: contain;  
}
.play-song :last-child:hover{
    color: aliceblue;
    text-decoration: underline;
}
div.square-left div.flex-column i{
    color: #717171;
    padding: 5px;
}
div.square-left div.flex-column i:hover{
    color: white;
}


/* center  */
.center{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;  
}
.change-song{
    
}
.i-left i {
    padding-left: 10px;
    font-size: 1.5rem;
}
.i-right i{
    padding-left: 10px;
    font-size: 1.5rem;
}
.i-center a i{
    margin: 0 30px;
    font-size: 2rem;
    width: 30px;
    text-align: center;
    
}
.i-center a i:hover{
    transform: scale(1.5);
    
}

.time-song{
    height: 20px;
    margin:0 30px;
    color: white;
}
.grey-bar{
    width: 350px;
    margin-top: 8px;
    position: relative;
    border:2px solid #717171;
}
.grey-light{
    position: absolute;
    width: 100px;
    top: -2px;
    left: -2px;
    border:2px solid lightgray;
}
.green-ghost{
    width: 100px;
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    border:2px solid greenyellow;
    
}
.white-ball{
    width: 15px;
    height: 15px;
    margin-left: 100px;
    background-color: white;
    display: none;
    border-radius: 50%;
}
.grey-bar:hover div.green-ghost{
    display: block;
}
.grey-bar:hover .white-ball{
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
}
 
/* right footer  */
.square-right{
    width:20%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.grey-bar2{
    width: 120px;
    margin-top: 8px;
    position: relative;
    border:2px solid #717171;
}
.grey-light2{
    width: 20px;
    border:2px solid lightgrey;
    position: absolute;
    top: -2px;
    left: -2px;
}
.green-ghost2{
    width: 20px;
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    border:2px solid greenyellow;
    
}

.white-ball2{
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-color: white;
    display: none;
    border-radius: 50%;
}
.grey-bar2:hover div.green-ghost2{
    display: block;
}
.grey-bar2:hover .white-ball2{
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
}


